<h1>GET Request Received</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{#each dataList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form action="http://flip3.engr.oregonstate.edu:65535" method="post">
    <fieldset>
        <legend>POST Request</legend>
        <label>JSON Data:
            <input type="text" name="name">
        </label>
        <br />
        <input type="submit" value="submit form" />
    </fieldset>
</form>